<div class="articles container">
    {{#each articles}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{date}} {{title}}</h3>
        </div>
        <div class="panel-body">
            <p>Link:
                <a class="artLink" href={{link}}>{{link}}</a>
                <button data-id={{_id}} class="btn btn-info pull-right save-article">Save Article</button>
            </p>
        </div>
    </div>

    <br />
    <br /> {{/each}}
    <!-- HERE -->
</div>