{{!-- display all saved articles --}}
<h1 id="saved-msg" class="text-center">Saved Articles</h1>
<div class="articles saved-articles">
    <ul>
        {{#each articles }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{date}} {{title}}</h3>
            </div>
            <div class="panel-body">
                <a class="artLink" href={{link}}>{{link}}</a>
                <button data-id={{_id}} class="btn btn-danger pull-right removeSaved">Remove</button>
                <button data-id={{_id}} class="btn btn-info pull-right saved-buttons" id="addCheckNote" data-toggle="modal" data-target="#noteModal"
                    data-value="{{this._id}}">View/Add Comment</button>
            </div>
        </div>
        <br />
        <br />
        <!-- Modal to display notes associated with an article -->
        <div id="noteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: right">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="">
                            <b>Comments for article # </b>
                            <b id="article-for-note"></b>
                            <br>
                            <b>{{title}}</b>

                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleTextarea">Enter New Comment</label>
                            <button data-id={{_id}} data-dismiss="modal" id="saveButton" class="btn btn-primary savenote pull-right">Save Comment</button>
                            <textarea class="form-control" id="notestext" rows="3"></textarea>
                        </div>
                        <hr>
                        <div>
                            <ul id="notesBody">
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        {{/each}}
    </ul>

</div>